body {
  margin: 0;
  font-family: "Apercu",Avenir,-apple-system,BlinkMacSystemFont,"Helvetica Neue",
  Helvetica,"Calibri","Roboto",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
